<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class = "table">
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Bio.</th>
          <th>Fecha de Nacimiento</th>
          <th>Lugar de Nacimiento</th>
          <th>Fecha de Fallecimiento</th>
          <th>Lugar de Fallecimiento</th>
        </tr>
        <% @actors.each do |actor| %>
        <tr>
          <td><img src="<%= actor.image_url%>" alt="" /></td>
          <td><%= actor.name%></td>
          <td><%= actor.bio%></td>
          <td><%= actor.birth_date%></td>
          <td><%= actor.birth_place%></td>
          <td><%= actor.death_date%></td>
          <td><%= actor.death_place%></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Crear Actor", new_actor_path %>
    </div>
  </div>
</div>